
@{
    ViewBag.Title = "PaymentError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="alert alert-danger " role="alert">
        Order unable to make payment please check balance
    </div>
</div>


