@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (

     Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="header-right d-none d-lg-block d-flex justify-content-between">
        @*<li >@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage" ,routeValues: null, htmlAttributes: new { title = "Manage", @class="text-primary" })  </li>*@
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        @*<li class=" d-none d-xl-block">
            <div class="favorit-items">
                <i class="far fa-heart"></i>
            </div>
        </li>*@

    </ul>
    }
}
else
{
 <li >@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
