@model NoviKunstUitleen.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Crypto";
}



<p class="text-success">@ViewBag.StatusMessage</p>
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>CryptoWallet:</dt>
        <dd>
            <div class="form-group">
               
                @Html.ActionLink("Go To Crypto", "index", "CryptoPayment", new { UserName = User.Identity.Name, @class = "btn btn-success" }, null)
            </div>
        </dd>
    </dl>
</div>
