@model  NoviKunstUitleen.Models.Arts

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<script type="text/javascript">
    $(document).ready(function () {
        $("#Mybuttons").click(function () {
            if ($('.to').val() == '') {
                   event.preventDefault();
                   alert('To Input can not be left blank');
               } else {
                    $.post("/ShoppingCart/AddToCart", { endOfLoan: $(".to").val(), id: $("#myArtsId").val() },
                        function () {
                            $("#testterr").fadeIn("3000")

                        }
                    );
               }

        })
    });
    // Uitleg 3 maanden
    //https://www.google.com/search?source=hp&ei=pUecXuLYDYySsAfNn4K4Cw&q=datepicker+%2B3months&oq=datepicker+%2B3months&gs_lcp=CgZwc3ktYWIQAzoCCAA6BQgAEIMBOgYIABAWEB5QtgJY5ilgsytoAXAAeACAAZQBiAHwBpIBBDE5LjGYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwiiv-OhwvToAhUMCewKHc2PALcQ4dUDCAc&uact=5

    $(function () {
        $(".from").datepicker({
            minDate: "dateToday",
            changeMonth: true,
            dateFormat: 'dd-mm-yy',
            onClose: function (selectedDateFrom, instance) {
                if (selectedDateFrom != '') {
                    $(".to").datepicker("option", "minDate", selectedDateFrom);
                    var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDateFrom, instance.settings);
                    date.setMonth(date.getMonth() + 3);

                    $(".to").datepicker("option", "minDate", date);
                    var dateMonth = $.datepicker.parseDate(instance.settings.dateFormat, selectedDateFrom, instance.settings);
                    dateMonth.setMonth(date.getMonth() + 12);
                    $(".to").datepicker("option", "maxDate", dateMonth);
                }
            }
        });
        $(".to").datepicker({
            minDate: "dateToday",
            changeMonth: true,
            dateFormat: 'dd-mm-yy',
            onClose: function (selectedDateTo) {
                $(".from").datepicker("option", "maxDate");
            }
        });

    });
    function getDate(element) {
        var date;
        try {
            date = $.datepicker.parseDate(dateFormat, element.value);
        } catch (error) {
            date = null;
        }

        return date;
    }


</script>


<div class="bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
           <img src="@Url.Content(Model.Image)"alt="" width="300">
                <p>@Model.Name + "Select date"</p>
                <div class="">

                    <label name="from">From</label>
                    <input class="from" name="from" type="text" />
                    <br />
                    <label name="to">To</label>
                    <input class="to" name="to" type="text" />

                    <input id="myArtsId" type="text" hidden value="@Model.ArtsId" />
                    <a id="Mybuttons" class="btn btn-primary" href="">Add to chart</a>
                </div>
        </div>
    </div>
</div>
