@{
    ViewBag.Title = "Contact";
}


<div class="container">
    <h2>@ViewBag.Title.</h2>
    <address>
        NOVI<br />
        Zonnebaan 9, 3542 EA Utrecht<br />
        <abbr title="Phone"></abbr>
        030 711 5615
    </address>
</div>
